CVS/
.svn/
.hg
.gradle/
/.idea/
/.vscode/
/bin/
/target/
/build/
/output/
/Debug/
/Release/
/x86/
/x64/
/obj/
/node_modules/
/pkg/
/run/
/log/
/logs/
/test-output/
/reports/
/_site/
.apt_generated/
.atp_generated_tests/
package-lock.json
config.gypi
npm-debug.log
.npmrc
.sass-cache
.jekyll-metadata
Gemfile.lock
packer_cache/
.DS_Store
*.log
*.bak
.~*
._*
.cache*
.*.swp
*.md.html
.lock-wscript
.wafpickle-N

# build outputs of Remix-IDE for smart contracts - https://remix-ide.readthedocs.io/en/latest/contract_metadata.html
contracts/**/artifacts/